:root {
    /*Font*/
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    /*Text colors*/
    --main-txt-cl: #212121;
    --secondary-txt-cl: #757575;
    --hero-title-cl: #FFFFFF;
    /*Logo colors*/   
    --first-logo-cl: #2196F3;
    --dark-logo-cl: #000000;
    --light-logo-cl: #FFFFFF;
    /*LINK colors*/
    --link-hvr-cl: #2196F3;
    --link-nav-cl: #212121;
    --contacts-hdr-cl: #757575;
    --contacts-ftr-cl-60: rgba(255, 255, 255, 0.6);
    --adress-ftr-cl: #FFFFFF;
    /*Background colors*/
    --accent-bg-cl: #FFFFFF;
    --dark-bg-cl: #2F303A;
    --light-bg-cl: #F5F4FA;
    /*Button hero*/
    --hero-btn-cl: #2196F3;
    --hero-btn-txt: #FFFFFF;
    /*Button portfolio*/
    --btn-bg-hover: #2196F3;
    --btn-text-hover: #FFFFFF;
    --btn-bg-cl: #F5F4FA;
    --btn-txt-cl: #212121;
} 
    
.page {
font-family: var(--main-font);
font-size: 14px;
line-height: calc(24/14);
color: var(--main-txt-cl);
background-color: var(--accent-bg-cl);
letter-spacing: 0.03em;
}
/*Header*/
.logo-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);    
    color: var(--dark-logo-cl);
    text-decoration: none;
}
.accent{
    color: var(--first-logo-cl);
}
.nav-item {
    list-style: none;
}
.header-item {
    list-style: none;
}
.link {
    text-decoration: none;
    color: var(--link-nav-cl);
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}
.link:hover,                                                                                                                                        
.link:focus {
    color: var(--link-hvr-cl);
}
.header-link {
    text-decoration: none;
    color: var(--contacts-hdr-cl);
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
    color: var(--link-hvr-cl);
}
.current {
    color: var(--link-hvr-cl);
}
/*Footer*/
.footer {
    background-color: var(--dark-bg-cl);
}
.logo-footer {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    color: var(--light-logo-cl);
    text-decoration: none;
}
.contacts-item {
    list-style: none;
}
.link-address {
font-style: normal;
text-decoration: none;
color: var(--adress-ftr-cl);
}
.link-address:hover,
.link-address:focus {
    color: var(--link-hvr-cl);
}
.contacts-link {
text-decoration: none;
font-style: normal;
color: var(--contacts-ftr-cl-60);
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--link-hvr-cl);
}
/*HERO*/
.hero-group {
    background-color: var(--dark-bg-cl);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-cl);
}
.hero-btn {
    cursor: pointer;
    color: var(--hero-btn-txt);
    background-color: var(--hero-btn-cl);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
}
/*Особливості*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.feature-title {
    font-weight: 700;
    line-height: calc(16/14);
    text-transform: uppercase;
    font-size: 14px;
}
.feature-item {
    list-style: none;
}
.feature-text {
    color: var(--secondary-txt-cl);
}
/*Чим ми займаємось*/
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
}
.work-list {
    list-style: none;
}
/*Команда*/
.teams-list {
    list-style: none;
}
.teams-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
}
.teams {
    background-color: var(--light-bg-cl);
}
.teams-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
}
.teams-text {
    font-size: 16px;
    line-height: calc(19/16);
    color: var(--secondary-txt-cl);
}
/*Портфоліо*/
.filter-list {
    list-style: none;
}
.btn {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    background-color: var(--btn-bg-cl);
}
.btn:hover,
.btn:focus {
    background-color: var(--btn-bg-hover);
    color: var(--btn-text-hover);
}
.portfolio-list {
    list-style: none;
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
}
.portfolio-text {
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--secondary-txt-cl);
}